@charset "UTF-8";

/* 公共样式 */
@colorP1: #004B85;
@colorP2: #FDCB3D;
@colorP3: #535353;
@colorP4: #00A0E9;

/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}

/* 小箭头 */
.arrow {
    width: 27px;
    height: 25px;
    background: url(../images/arrow.png) no-repeat;
    _background-image: url(../images/arrow.gif);
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -13px;
    cursor: pointer;
    z-index: 2;
    opacity: .6;
    -webkit-animation: up_down 1000ms linear infinite;
    -moz-animation: up_down 1000ms linear infinite;
    -ms-animation: up_down 1000ms linear infinite;
    animation: up_down 1000ms linear infinite;
}

/* 小箭头动画 */
@keyframes up_down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* 背景图 */
.one {
    background: url(../images/bg1.png);
}

.two {
    background: url(../images/bg2.png);
}

.three {
    background: url(../images/bg3.png);
}

.four {
    background: url(../images/bg4.png);
}

.five {
    background: url(../images/bg3.png);
}

/*header nav*/
.header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 9999;
    border-bottom: 1px solid #ccc;
    .container {
        width: 100%;
        min-width: 768px;
        margin: 0 auto;
    }
    .logo {
        /*width: 80px;*/
        height: 60px;
        float: left;
        margin-left: 83px;
        .header-img {
            width: 60px;
            height: 60px;
            background: url(../images/logo.png) no-repeat center center;
            background-size: contain;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -o-border-radius: 50%;
            -ms-border-radius: 50%;
            float: left;
            transition: box-shadow 0.5s;
            -webkit-transition: box-shadow 0.5s;
            -moz-transition: box-shadow 0.5s;
            -o-transition: box-shadow 0.5s;
            -ms-transition: box-shadow 0.5s;
        }
        .header-img:hover {
            box-shadow: 0 0 10px #16C0F8;
        }
        .header-p {
            float: left;
            margin-left: 10px;
            text-align: center;
            font: 18px "楷体";
            color: #333333;
            .header-p1 {
                margin: 0px 15px 5px;
                padding: 5px 15px;
                width: 80px;
                border-bottom: 1px solid #333333;
            }
            .header-p2 {
                padding: 0 15px;
            }
        }
    }
    .nav {
        float: right;
        margin-right: 83px;
        li {
            float: left;
            font: 400 20px/60px "楷体";
            margin: 0 20px;
            color: #000;
            list-style: none;
            a {
                color: #0B1013;
                text-decoration: none;
            }
        }
    }
}

/* page one */
.home {
    text-align: center;
    color: #004B85;
    .home_name {
        margin: 0 auto;
        font-size: 40px;
        color: #004B85;
        p {
            padding: 10px 0;
        }
    }
    .home_portrait {
        width: 180px;
        height: 180px;
        margin: 0 auto;
        background: url(../images/logo.png) no-repeat center center;
        background-size: contain;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        border: 4px solid #004B85;
    }
    .home_info {
        margin: 0 auto;
        padding-top: 30px;
        position: relative;
        // font-size: 14px;
    }
    .home_info1 {
        padding: 5px 0;
        position: relative;
        bottom: -300px;
    }
    .home_info::before,
    .home_info::after {
        width: 20px;
        height: 20px;
        position: absolute;
        content: ' ';
    }
    .home_info::before {
        top: 18px;
        left: -30px;
        border-top: 3px solid #004B85;
        border-left: 3px solid #004B85;
    }
    .home_info::after {
        top: 110px;
        right: -30px;
        border-bottom: 3px solid #004B85;
        border-right: 3px solid #004B85;
    }
}

/* page two */
.about {
    text-align: left;
    .about_name {
        width: 0px;
        height: 0px;
        line-height: 80px;
        border: 2px solid @colorP2;
        margin: 120px auto 0;
        text-align: center;
        font-size: 24px;
    }
    .about_info {
        width: 80%;
        height: 400px;
        margin: 50px auto 0;
        padding-left: 100px;
        h3 {
            color: @colorP2;
            font-size: 40px;
        }
        .about_info_part1 {
            width: 30%;
            margin-top: 50px;
            float: left;
            opacity: 0;
            position: relative;
            .about_info_part4 {
                width: 80%;
                margin-top: 80px;
                float: right;
                opacity: 0;
                position: relative;
            }
        }
        .about_info_part2 {
            width: 30%;
            margin: 0 53px;
            float: left;
            opacity: 0;
            position: relative;
            .about_info_part5 {
                width: 80%;
                margin-top: 120px;
                float: right;
                opacity: 0;
                position: relative;
            }
        }
        .about_info_part3 {
            width: 30%;
            margin-top: 120px;
            float: right;
            opacity: 0;
            position: relative;
        }
        .about_info_part1::before,
        .about_info_part2::before,
        .about_info_part3::before,
        .about_info_part4::before,
        .about_info_part5::before {
            width: 3px;
            height: 350px;
            content: ' ';
            position: absolute;
            top: 30px;
            left: -14px;
            background-image: linear-gradient(to bottom, yellow, rgba(0, 0, 0, 0));
        }
        .about_info_part1::after,
        .about_info_part2::after,
        .about_info_part3::after,
        .about_info_part4::after,
        .about_info_part5::after {
            width: 10px;
            height: 10px;
            content: ' ';
            border: 3px solid yellow;
            border-radius: 50%;
            position: absolute;
            top: 15px;
            left: -20px;
        }
    }
}

/* page three */
.skiil {
    .skiil_name {
        width: 0px;
        height: 0px;
        line-height: 80px;
        border: 2px solid @colorP3;
        margin: 0 auto;
        text-align: center;
        font-size: 24px;
        h3 {
            position: relative;
            top: -300px;
        }
    }
    .skiil_introduce {
        width: 300px;
        margin: 0 auto;
        padding: 60px 0 50px;
        text-align: center;
        p {
            opacity: 0;
            line-height: 50px;
        }
    }
    .skiil_info {
        width: 850px;
        margin: 0 auto;
        position: relative;
        bottom: -300px;
        li {
            width: 120px;
            height: 120px;
            margin: 0 25px;
            text-align: center;
            float: left;
            list-style: none;
            position: relative;
            strong {
                position: absolute;
                top: 41px;
                left: 30px;
                font-size: 30px;
            }
            span {
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

/* page four */
.works {
    width: 100%;
    overflow: hidden;
    .works_title {
        height: 85px;
        line-height: 85px;
        color: #272a2c;
        position: relative;
        h3 {
            width: 0px;
            height: 0px;
            line-height: 80px;
            border: 2px solid @colorP4;
            margin: 60px auto 0;
            text-align: center;
            font-size: 24px;
        }
        a {
            position: absolute;
            right: 46%;
            font-size: 25px;
            color: #FE00B8;
            text-decoration: none;
            opacity: 0;
        }
        .fa-refresh {
            margin-left: 10px;
        }
    }
    .works_wrap {
        width: 100%;
        overflow: hidden;
        margin: 0 10%;
        .hot_box {
            width: 350px;
            height: 300px;
            margin: 80px 0 6px 21px;
            background: #fffdfe;
            position: relative;
            box-shadow: 4px 4px 4px #ccc;
            float: left;
            a {
                display: block;
                width: 400px;
                height: 176px;
                overflow: hidden;
                img {
                    transform: scale(1);
                    transition: all 1s ease-out;
                }
            }
            a:hover img {
                transform: scale(1.1);
            }
            .hot_title {
                color: @colorP4;
                font: 700 20px/32px "微软雅黑";
                margin: 5px 0 0 20px;
                height: 32px;
                overflow: hidden;
            }
            .hot_txt {
                margin: 5px 20px 0 30px;
                font: 14px "Microsoft YaHei";
                color: #9f9f9f;
                text-align: center;
                text-align: left;
            }
            .gw_link {
                position: absolute;
                bottom: 15px;
                right: 20px;
                width: 88px;
                height: 30px;
                display: block;
                background: url("../images/btn1_c7dd2d3.png") no-repeat 0 -30px;
                font: 12px/30px "Micosoft YaHei";
                text-align: center;
                color: #9f9f9f;
                cursor: pointer;
            }
            .gw_link:hover {
                color: #fff;
                text-decoration: none;
                background-position: 0 0;
                -webkit-transition: all .2s ease-out;
                transition: all .2s ease-out;
                animation: ani-gw-link .3s linear .2s 1 normal;
            }
        }
    }
}

/* 第四屏 动画 淡入淡出 */
.works_wrapbox.hideing .hot_box {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
}

.works_wrapbox.hideing .hot_box:nth-child(1) {
    -webkit-transition: all .4s linear 0s;
    -moz-transition: all .4s linear 0s;
    -ms-transition: all .4s linear 0s;
    -o-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
}

.works_wrapbox.hideing .hot_box:nth-child(2) {
    -webkit-transition: all .4s linear .1s;
    -moz-transition: all .4s linear .1s;
    -ms-transition: all .4s linear .1s;
    -o-transition: all .4s linear .1s;
    transition: all .4s linear .1s;
}

.works_wrapbox.hideing .hot_box:nth-child(3) {
    -webkit-transition: all .4s linear .2s;
    -moz-transition: all .4s linear .2s;
    -ms-transition: all .4s linear .2s;
    -o-transition: all .4s linear .2s;
    transition: all .4s linear .2s;
}

.works_wrapbox.showing .hot_box {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.works_wrapbox.showing .hot_box:nth-child(1) {
    -webkit-transition: all .4s linear .4s;
    -moz-transition: all .4s linear .4s;
    -ms-transition: all .4s linear .4s;
    -o-transition: all .4s linear .4s;
    transition: all .4s linear .4s;
}

.works_wrapbox.showing .hot_box:nth-child(2) {
    -webkit-transition: all .4s linear .5s;
    -moz-transition: all .4s linear .5s;
    -ms-transition: all .4s linear .5s;
    -o-transition: all .4s linear .5s;
    transition: all .4s linear .5s;
}

.works_wrapbox.showing .hot_box:nth-child(3) {
    -webkit-transition: all .4s linear .6s;
    -moz-transition: all .4s linear .6s;
    -ms-transition: all .4s linear .6s;
    -o-transition: all .4s linear .6s;
    transition: all .4s linear .6s;
}

/* page five */
.contact {
    color: @colorP3;
    text-align: center;
    // position: relative;
    .contact_title {
        width: 300px;
        height: 80px;
        line-height: 80px;
        border: 2px solid @colorP3;
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
        opacity: 0;
    }
    .contact_emall {
        margin: 50px auto;
        font-size: 20px;
        position: relative;
        top: -300px;
        opacity: 0;
        color: #FF0000;
    }
    .contact_txt {
        p {
            margin: 5px 0;
            position: relative;
            bottom: -400px;
        }
        span {
            width: 300px;
            height: 2px;
            display: block;
            border-top: 1px dashed #FF6633;
            margin: 30px auto;
            opacity: 0;
        }
    }
}
/* footer Copyright */
.footer {
    width: 100%;
    height: 50px;
    line-height: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    font-size: 8px;
    text-align: center;
}
