@charset "UTF-8";
/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
/* 小箭头 */
.arrow {
  width: 27px;
  height: 25px;
  background: url(../images/arrow.png) no-repeat;
  _background-image: url(../images/arrow.gif);
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -13px;
  cursor: pointer;
  z-index: 2;
  opacity: .6;
  -webkit-animation: up_down 1000ms linear infinite;
  -moz-animation: up_down 1000ms linear infinite;
  -ms-animation: up_down 1000ms linear infinite;
  animation: up_down 1000ms linear infinite;
}
@keyframes up_down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.container {
  width: 100%;
  min-width: 730px;
  margin: 0 auto;
}
/*header nav*/
.header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 9999;
  border-bottom: 1px solid #e5e5e5;
}
.header .logo {
  /*width: 80px;*/
  height: 60px;
  float: left;
  margin-left: 83px;
}
.header .logo .header-img {
  width: 60px;
  height: 60px;
  background: url(../images/logo.png) no-repeat center center;
  background-size: contain;
  border-radius: 50%;
  float: left;
  transition: box-shadow 0.5s;
  -webkit-transition: box-shadow 0.5s;
}
.header .logo .header-img:hover {
  box-shadow: 0 0 10px #16C0F8;
}
.header .logo .header-p {
  float: left;
  margin-left: 15px;
  text-align: center;
  font: 18px "楷体";
  color: #333333;
}
.header .logo .header-p .header-p1 {
  margin: 0px 15px 5px;
  padding: 5px 15px;
  width: 80px;
  border-bottom: 1px solid #333333;
}
.header .logo .header-p .header-p2 {
  padding: 0 15px;
}
.header .nav {
  float: right;
  margin-right: 83px;
}
.header .nav li {
  float: left;
  font: 400 20px/60px "楷体";
  margin: 0 20px;
  color: #000;
  list-style: none;
}
.header .nav li a {
  color: #0B1013;
  text-decoration: none;
}
